/* This ain't real css! This is a Qt-stylesheet! */

NaNoSidebar {{
    font-family: {nano_fontfamily};
    font-size: {nano_fontsize};
    color: {nano_textcolor};
    background: {nano_bgcolor};
    selection-color: {nano_bgcolor};
    selection-background-color: {nano_textcolor};
}}
